<html>
    <head>
        <title> Best Cards </title>
        <%- include('header.ejs') %>
    </head>

    <h1>The Best Cards</h1>

    <body>
        
        1994-2020

    	<%- include('navbar.ejs') %>

    </body>

</html