<!DOCTYPE html>
<html>
    <head>
        <title> Best Cards </title>
        <link rel="stylesheet" href="stylesheet.css" type="text/css" />
    </head>

    <h1>The Best Cards</h1>

    <body>
        
        1994-2020

    	<ul id="navigationbar">
        	<li><a href="index.html">The Club Hub</a></li>
        	<li><a href="Favorites.html">Fan Favorites</a></li>
        	<li><a href="bestcards.html">Best Cards</a></li>
        	<li><a href="invest.html">PokeVestments</a></li>
    	</ul>

    </body>

</html