<html>
    <h1>
        <title>Blog</title>
        <%- include('header.ejs') %>
    </h1>
    <body>
        <%- include ('navbar.ejs')%>
        <div id="content">

            <table>
                <% postset.forEach(function(bpost) { %>
                    <%- include('blogpostpreview',{post: bpost}) %>
                    <% }) %>
            </table>
            <br/><br/>
            <a href="write/">Write a post</a>
        </div> 
    </body>
</html>