<!DOCTYPE html>
<html>
    <head>
        <title> Fan Favorito </title>
        <%- include('header.ejs') %>
    </head>

    <h1>Fan Favorites!</h1>

    <body>
        
       <h1><%= count %> people love these Pokemon!</h1>

        <li>Pikachu</li>
        <li>Charizard</li>
        <li>Meowth</li>


    	<ul id="navigationbar">
        	<li><a href="index.html">The Club Hub</a></li>
        	<li><a href="Favorites.html">Fan Favorites</a></li>
        	<li><a href="bestcards.html">Best Cards</a></li>
        	<li><a href="invest.html">PokeVestments</a></li>
    	</ul>

    </body>

</html