<html>

    <head>
        <title> iLovePokemon </title>
        <link rel="stylesheet" href="stylesheet.css" type="text/css" />
    </head>

    <body>

    	<h1> The Grand Pokemon Club </h1>
        The Pokemon Universe is better than any other

        <div id="mainpanel">
            Come enter this magical world of wonder and possibilities!
        </div>

        <img src=https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/9038defb-5494-46f2-a66d-e84678fbfa33/d83jgkl-7486af7c-2689-4de5-845e-c9515c0ddbe0.png>

       <%- include('navbar.ejs') %>

    </body>

</html