<!DOCTYPE html>
<html>
    <head>
        <title> Invest </title>
        <link rel="stylesheet" href="stylesheet.css" type="text/css" />
    </head>

    <h1>Poke Investments!</h1>

    <body>
        
        This is how you make money with your favorite Pokemon!

    	<ul id="navigationbar">
        	<li><a href="index.html">The Club Hub</a></li>
        	<li><a href="Favorites.html">Fan Favorites</a></li>
        	<li><a href="bestcards.html">Best Cards</a></li>
        	<li><a href="invest.html">PokeVestments</a></li>
    	</ul>

        <%- include('navbar.ejs') %>
        
    </body>

</html