<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
        <title> Invest </title>
        <%- include('header.ejs') %>
    </head>

    <h1>Poke Investments!</h1>

    <body>
        
        This is how you make money with your favorite Pokemon!

        <%- include('navbar.ejs') %>

    </body>

</html