<!DOCTYPE html>
<html>
    <head>
        <title> Invest </title>
        <link rel="stylesheet" href="stylesheet.css" type="text/css" />
    </head>

    <h1>Poke Investments!</h1>

    <body>
        
        This is how you make money with your favorite Pokemon!

        <%- include('navbar.ejs') %>

    </body>

</html