<div id="navbar">
	<ul id="navigationbar">
        	<li><a href="index.html">The Club Hub</a></li>
        	<li><a href="Favorites.html">Fan Favorites</a></li>
        	<li><a href="bestcards.html">Best Cards</a></li>
        	<li><a href="invest.html">PokeVestments</a></li>
    	</ul>
</div>
